<ion-view title="Approval" id="page8">
    <ion-content padding="true" class="has-header">
        <ion-list id="approval-list5">
            <ion-item class="item-icon-left" id="approval-list-item5">
                <i class="icon ion-bag"> </i>
                <div>
                    <h2> Gift-1000 </h2>
                    <p> Received </p>
                    <p> Gift </p>
                    <p> Received on Diwali Ocasion by xxxx client </p>
                </div>
            </ion-item>
            <ion-item class="item-icon-left" id="approval-list-item14">
                <i class="icon ion-bag"> </i>
                <div>
                    <h2> Gift-1001 </h2>
                    <p> Received </p>
                    <p> Gift </p>
                    <p> Received on Diwali Ocasion by xxxx client </p>
                </div>
            </ion-item>
            <ion-item class="item-icon-left" id="approval-list-item15">
                <i class="icon ion-bag"> </i>
                <div>
                    <h2> Gift-1002 </h2>
                    <p> Received </p>
                    <p> Gift </p>
                    <p> Received on Diwali Ocasion by xxxx client </p>
                </div>
            </ion-item>
            <ion-item class="item-icon-left" id="approval-list-item16">
                <i class="icon ion-bag"> </i>
                <div>
                    <h2> Gift-1003 </h2>
                    <p> Received </p>
                    <p> Gift </p>
                    <p> Received on Diwali Ocasion by xxxx client </p>
                </div>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 56px;"></div>
        <button id="approval-button6" class="button button-assertive  button-block">Approve</button>
    </ion-content>
</ion-view>