<ion-view title="Disclosure" id="page10">
    <ion-content padding="true" class="has-header">
        <ion-list id="disclosure-list9">
            <ion-item id="disclosure-list-item17" class="item-text-wrap" ui-sref="tabsController.formA">Have you made any trading in securities, by way of sale or purchase of securities (investments in SIP, mutual
                funds, tax savings/ portfolio management scheme, exempted).</ion-item>
            <ion-item id="disclosure-list-item18" class="item-text-wrap" ui-sref="tabsController.formB">Have you made any investment in real estate property, which is not at the prevailing market price? (Applicable
                only in case the vendor/ developer/ builder is an investee company or a patron of Times Group for media coverage)</ion-item>
        </ion-list>
    </ion-content>
</ion-view>