<ion-view title="Gift Detail" id="page9">
    <ion-content padding="true" class="has-header">
        <ion-list id="giftDetail-list11">
            <ion-item id="giftDetail-list-item10">Date
                <span class="item-note">04/10/2016</span>
            </ion-item>
            <ion-item id="giftDetail-list-item19">Transaction
                <span class="item-note">Gift</span>
            </ion-item>
            <ion-item id="giftDetail-list-item20">Gift Type
                <span class="item-note">Green</span>
            </ion-item>
            <ion-item id="giftDetail-list-item21">Gift Detail
                <span class="item-note">Festive Gifting</span>
            </ion-item>
            <ion-item id="giftDetail-list-item22">Type
                <span class="item-note">Offered</span>
            </ion-item>
            <ion-item id="giftDetail-list-item23">Entity Nature</ion-item>
            <ion-item id="giftDetail-list-item24">Relationship
                <span class="item-note">Vendor</span>
            </ion-item>
            <ion-item id="giftDetail-list-item25">Amount
                <span class="item-note">Less than Rs.1000</span>
            </ion-item>
        </ion-list>
        <button id="giftDetail-button12" ng-if="showButtons" class="button button-balanced  button-block">Approve</button>
        <button id="giftDetail-button13" ng-if="showButtons" class="button button-assertive  button-block">Reject</button>
    </ion-content>
</ion-view>