<ion-view title="Gifts" id="page3">
    <ion-content padding="true" class="has-header">
        <form id="gifts-form4" class="list">
            <label class="item item-input" id="gifts-input7">
                <span class="input-label">Start date</span>
                <input type="date" placeholder="">
            </label>
            <label class="item item-input" id="gifts-input8">
                <span class="input-label">End date</span>
                <input type="date" placeholder="">
            </label>
        </form>
        <a id="gifts-button5" class="button button-assertive  button-block" ng-click="getGifts()">Get Gifts!</a>
    </ion-content>
</ion-view>