<ion-view title="Register Gift" id="page2" onload="onEmployeeLoad()">
    <ion-content padding="true" class="has-header">
        <form id="registerGift-form8" class="list">
            <label class="item item-input" id="registerGift-input19">
                <span class="input-label">Date</span>
                <input type="date" placeholder="">
            </label>
            <label class="item item-select" id="registerGift-select9">
                <span class="input-label">Transaction</span>
                <select ng-model="selectedTransaction">
                    <option selected>Gift</option>
                    <option>Entertainment</option>
                </select>
            </label>
            <label class="item item-select" ng-if="selectedTransaction == 'Entertainment'" id="registerGift-select12">
                <span class="input-label">Entertainment</span>
                <select>
                    <option>Lunch/ Dinner</option>
                    <option>Complimentary tickets for sports/ entertainment</option>
                    <option>Any other hospitality offered free of cost</option>
                </select>
            </label>
            <label class="item item-select" ng-if="selectedTransaction == 'Gift'" id="registerGift-select13">
                <span class="input-label">Gift Type</span>
                <select ng-model="selectedGiftType" ng-change="changeGiftType()">
                    <option selected>Green</option>
                    <option>Red</option>
                </select>
            </label>
            <label class="item item-select" ng-if="selectedTransaction == 'Gift'" id="registerGift-select14">
                <span class="input-label">Gift Detail</span>
                <select>
                    <option selected>Paper based complimentary items viz. diary, calendar, etc.</option>
                    <option>Perishable items like, sweets, flowers, dry fruits etc.</option>
                    <option>Company name logo embossed complimentary gift items like pouches, key chain, pen stand etc.</option>
                    <option>Complimentary tickets for company sponsored event, upto 2 tickets;</option>
                    <option>Festive gifting (Attachment enabled) – Excel sheet with name of the</option>
                </select>
            </label>
            <label class="item item-select ng-hide"  id="registerGift-select15" ng-if="selectedTransaction == 'Gift'">
                <span class="input-label">Gift Detail</span>
                <select>
                    <option selected>Special occasion gifting like wedding/ farewell etc.</option>
                    <option>Handi craft or artifacts as goodwill gesture.</option>
                    <option>Complimentary free tickets as a part of PR</option>
                    <option>Customised corporate gifting like purses, bags, pouches etc.</option>
                    <option>Any other item (please mention details)</option>
                </select>
            </label>
            <label class="item item-select" id="registerGift-select16">
                <span class="input-label">Type</span>
                <select>
                    <option>Offered</option>
                    <option>Received</option>
                </select>
            </label>
            <label class="item item-input" id="registerGift-input20">
                <span class="input-label">Entity Nature</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-select" id="registerGift-select18">
                <span class="input-label">Any previous gift?</span>
                <select ng-model="previousGift">
                    <option>Yes</option>
                    <option>No</option>
                </select>
            </label>
            <label class="item item-input" ng-if="previousGift == 'Yes'" id="registerGift-input27">
                <span class="input-label">Details</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-select" id="registerGift-select19">
                <span class="input-label">Relationship</span>
                <select ng-model="selectedRelationship">
                    <option>Vendor</option>
                    <option>Business Partner</option>
                    <option>Government Official</option>
                    <option>Professional contact</option>
                    <option>Others</option>
                </select>
            </label>
            <label class="item item-input" ng-if="selectedRelationship == 'Others'" id="registerGift-input28">
                <span class="input-label">Details</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-select" id="registerGift-select20">
                <span class="input-label">Amount</span>
                <select>
                    <option>&lt;Rs.1000</option>
                    <option>&gt;Rs.1000</option>
                </select>
            </label>
            <button id="registerGift-button10" class="button button-balanced  button-block">Save</button>
            <button id="registerGift-button11" class="button button-assertive  button-block">Register Gift</button>
        </form>
    </ion-content>
</ion-view>